In [1]:
import pandas as pd

In [2]:
#read in CSA dataset
df = pd.read_csv('yelp_dataset.csv')
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,hours,category,labels
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",NaN,Excellent
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015.0,36.269593,-87.058943,2.0,6,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",NaN,Ok
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123.0,38.565165,-90.321087,3.0,19,"Pubs, Restaurants, Italian, Bars, American (Tr...",NaN,Greek,Great
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207.0,36.208102,-86.768170,1.5,10,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",NaN,Ok
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602.0,27.955269,-82.456320,4.0,10,"Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",Vietnamese,Excellent

In [3]:
#find the top 1 category
df.dropna(subset=['category'], inplace=True)

categories_column = df['category'].str.split(',')

flattened_categories = [category.strip() for categories_list in categories_column for category in categories_list]
category_counts = pd.Series(flattened_categories).value_counts()
top_category = category_counts.index[0]

print("Top 1 Category:", top_category)

Top 1 Category: American

In [4]:
#read in review dataset
df_reviews = pd.read_csv('yelp_reviews.csv')
df_reviews

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,hours,category,labels,review_id,user_id,useful,funny,cool,text,date
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,...,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",NaN,Excellent,BXQcBN0iAi1lAUxibGLFzA,6_SpY41LIHZuIaiDs5FMKA,0,0,1,This is nice little Chinese bakery in the hear...,2014-05-26 01:09:53
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,...,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",NaN,Excellent,uduvUCvi9w3T2bSGivCfXg,tCXElwhzekJEH6QJe3xs7Q,3,1,2,This is the bakery I usually go to in Chinatow...,2013-10-05 15:19:06
2,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,...,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",NaN,Excellent,a0vwPOqDXXZuJkbBW2356g,WqfKtI-aGMmvbA9pPUxNQQ,0,0,0,"A delightful find in Chinatown! Very clean, an...",2013-10-25 01:34:57
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,...,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",NaN,Excellent,MKNp_CdR2k2202-c8GN5Dw,3-1va0IQfK-9tUMzfHWfTA,5,0,5,I ordered a graduation cake for my niece and i...,2018-05-20 17:58:57
4,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0,39.955505,-75.155564,4.0,80,...,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",NaN,Excellent,D1GisLDPe84Rrk_R4X2brQ,EouCKoDfzaVG0klEgdDvCQ,2,1,1,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...,2013-10-25 02:31:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4655579,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014.0,39.856185,-75.427725,4.5,14,...,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",NaN,Excellent,Kt3gFeW1rhZz7RuiV-6Tcw,eWz12w7dzYlfrGnhTQ82Fg,0,0,0,This is my favorite food truck! I only wish I ...,2019-07-14 14:25:35
4655580,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014.0,39.856185,-75.427725,4.5,14,...,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",NaN,Excellent,ruy3Ycey_gGbwkE_3TX1Fg,lDyhGApbGZ0_BoeJzRQq7g,1,0,1,This food truck was stupid. Stupidly delicious...,2021-06-25 23:22:26
4655581,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014.0,39.856185,-75.427725,4.5,14,...,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",NaN,Excellent,C_l8NTpvNOEUorEmEOusaA,-TTJ75--0NEAjvFCOV7rBg,0,0,0,Bubba never disappoints i go to his fb page an...,2016-12-09 21:38:05
4655582,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014.0,39.856185,-75.427725,4.5,14,...,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",NaN,Excellent,q39JOIkHmIhdmYnjEhZCdQ,8yFNNU7UmQcfzmcTvzTlOA,0,0,0,The truck was invited to our office for a part...,2020-02-19 22:59:06
4655583,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014.0,39.856185,-75.427725,4.5,14,...,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",NaN,Excellent,ejNwTMv26Hkaj_DHh1Ra0Q,uvBkI-2pOW0gg8yee7YvdA,0,0,0,Plum Pit came and did my niece's graduation pa...,2021-06-07 02:55:04

In [5]:
#find the top 1 category again to testify previous top1 category
df_reviews.dropna(subset=['category'], inplace=True)

categories_column = df_reviews['category'].str.split(',')

flattened_categories = [category.strip() for categories_list in categories_column for category in categories_list]
category_counts = pd.Series(flattened_categories).value_counts()
top_category = category_counts.index[0]

print("Top 1 Category:", top_category)

Top 1 Category: American

In [12]:
#select only columns needed and drop rows with missing data
selected_columns = ['business_id', 'latitude', 'longitude', 'stars', 'review_count', 'category', 'review_id', 'user_id']
df_selected = df_reviews[selected_columns]
df_selected.dropna(inplace=True)
df_selected.drop(df_selected[df_selected['review_count'] < 10].index, inplace=True)
df_selected

/var/folders/fs/0rc1m4zj2yx3w0mhpgq1kbwm0000gn/T/ipykernel_61786/2442581975.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected.dropna(inplace=True)
/var/folders/fs/0rc1m4zj2yx3w0mhpgq1kbwm0000gn/T/ipykernel_61786/2442581975.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected.drop(df_selected[df_selected['review_count'] < 10].index, inplace=True)

,business_id,latitude,longitude,stars,review_count,category,review_id,user_id
93,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,9fmAJ76g2-CKbbU14Ai1aw,LNprC9Mi8Xqtgk1KCFlKAg
94,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,OCmjANuYad62GAyY0NI8bQ,z-i_Qv-E3qeHfdPZddpwYQ
95,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,QPZ66Xk54CprqZgTW1QTdQ,m6YhwUNoehMm6s52w9A4eA
96,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,yUpKEiSWjcix-zWHFMT39w,-YAnRx8VSDkASxlylv3dyg
97,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,JR0MWE4psJqD2MyHbMckxA,WJ-veSDe63t0HnCu2E1NSA
...,...,...,...,...,...,...,...,...
4655565,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,qBcwQEQPnLxjkw-xbUIF4Q,6nF5PT1c0dF6EpOgQdF2tw
4655566,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,G8fbysnUAUmqq1XWTjMQ4Q,1M78_w4J9f5S8xmUVYyxdQ
4655567,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,JKiy0aeyGd3KmXN7uRPFLw,B7TD5yTemGv50y4wM2EVNA
4655568,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,JITY01bGbdsiUBznLz9rdg,HI8QwhpeP_ZRY5JZy11VDw
4655569,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,VzKF0662H2NLbpbmGv20Ug,CmR9s-2zH20UkmUt5Qwqnw

In [21]:
#choose users that have at least 5 reviews
user_review_counts = df_selected.groupby('user_id')['review_id'].count()
filtered_user_ids = user_review_counts[user_review_counts > 5].index
df_filtered = df_selected[df_selected['user_id'].isin(filtered_user_ids)]
df_filtered

,business_id,latitude,longitude,stars,review_count,category,review_id,user_id
95,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,QPZ66Xk54CprqZgTW1QTdQ,m6YhwUNoehMm6s52w9A4eA
97,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,JR0MWE4psJqD2MyHbMckxA,WJ-veSDe63t0HnCu2E1NSA
101,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,sDH_jLadW_kMPfzCj2OxXw,KCD6daAp293FoOUoTjT_YA
102,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,JRp0BzCPLdCIEjGwrj7u2g,iPkdNziqnhNukjnmsrSzmg
110,k0hlBqXX-Bt0vf1op7Jr1w,38.565165,-90.321087,3.0,19,Greek,puUoLmxrnEoBVeaaBQ9tfg,4hPOa5KDB2zPYAb-ONjUXA
...,...,...,...,...,...,...,...,...
4655564,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,cOh-a-xWgOBP4WHxVp2SOg,oh8jhxBjzl7x9WUh8xHsyA
4655565,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,qBcwQEQPnLxjkw-xbUIF4Q,6nF5PT1c0dF6EpOgQdF2tw
4655566,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,G8fbysnUAUmqq1XWTjMQ4Q,1M78_w4J9f5S8xmUVYyxdQ
4655568,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,JITY01bGbdsiUBznLz9rdg,HI8QwhpeP_ZRY5JZy11VDw
4655569,WnT9NIzQgLlILjPT0kEcsQ,39.935982,-75.158665,4.5,35,Mexican,VzKF0662H2NLbpbmGv20Ug,CmR9s-2zH20UkmUt5Qwqnw

In [22]:
df_filtered.to_csv('cleaned_data.csv', index=False)