In [1]:
import json
import pandas as pd

#  Clean yelp_business dataset

In [68]:
data = []  # Create an empty list to store the parsed JSON data

# Read JSON data from a file and append each line (parsed as JSON) to the 'data' list
with open('yelp_academic_dataset_business.json', encoding='utf-8') as json_file:
    for line in json_file:
        data.append(json.loads(line))

# Read JSON data from a file or JSON string
yelp_df = pd.DataFrame(data)
# 'data' is now a DataFrame containing the JSON data
yelp_df.tail()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [82]:
#drop the columns we don't need for this analysis
yelp_df = yelp_df.drop(columns=["is_open", "attributes"])
yelp_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,"Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,"Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [83]:
## filter restaurants of 50 states from USA
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
yelp_usa=yelp_df.loc[yelp_df['state'].isin(states)]
yelp_usa.tail()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,hours
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,"Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,"Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,"Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,"Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [84]:
## drop null values in category, delete original column categories and reset the index
yelp_usa = yelp_usa.dropna(subset=['categories']).copy()
#del yelp_usa['categories']
usa_restaurants = yelp_usa.reset_index(drop=True)
usa_restaurants.head(10)

# Select all rows where the 'categories' column contains the substring 'Restaurants'
usa_restaurants = usa_restaurants[usa_restaurants['categories'].str.contains('Restaurants')]
usa_restaurants.tail()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,hours
144649,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702,43.616590,-116.202383,4.5,998,"Bars, Gastropubs, Sandwiches, Nightlife, Resta...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ..."
144651,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,"Restaurants, Sandwiches, Convenience Stores, C...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
144653,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,"Cafes, Juice Bars & Smoothies, Coffee & Tea, R...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '..."
144661,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,"Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
144664,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,"Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [85]:
## select out 30 cuisine types of restaurants and rename the category
usa_restaurants['category']=pd.Series()
usa_restaurants.loc[usa_restaurants.categories.str.contains('American'),'category'] = 'American'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Mexican'), 'category'] = 'Mexican'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Italian'), 'category'] = 'Italian'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Japanese'), 'category'] = 'Japanese'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Chinese'), 'category'] = 'Chinese'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Thai'), 'category'] = 'Thai'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Mediterranean'), 'category'] = 'Mediterranean'
usa_restaurants.loc[usa_restaurants.categories.str.contains('French'), 'category'] = 'French'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Vietnamese'), 'category'] = 'Vietnamese'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Greek'),'category'] = 'Greek'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Indian'),'category'] = 'Indian'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Korean'),'category'] = 'Korean'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Hawaiian'),'category'] = 'Hawaiian'
usa_restaurants.loc[usa_restaurants.categories.str.contains('African'),'category'] = 'African'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Spanish'),'category'] = 'Spanish'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Middle_eastern'),'category'] = 'Middle_eastern'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Lebanese'),'category'] = 'Lebanese'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Moroccan'),'category'] = 'Moroccan'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Turkish'),'category'] = 'Turkish'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Canadian'),'category'] = 'Canadian'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Caribbean'),'category'] = 'Caribbean'
usa_restaurants.loc[usa_restaurants.categories.str.contains('German '),'category'] = 'German '
usa_restaurants.loc[usa_restaurants.categories.str.contains('Russian'),'category'] = 'Russian'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Arabian'),'category'] = 'Arabian'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Australian'),'category'] = 'Australian'
usa_restaurants.loc[usa_restaurants.categories.str.contains('British'),'category'] = 'British'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Cajun'),'category'] = 'Cajun'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Halal'),'category'] = 'Halal'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Malaysian'),'category'] = 'Malaysian'
usa_restaurants.loc[usa_restaurants.categories.str.contains('Mongolian'),'category'] = 'Mongolian'
usa_restaurants.category[:30]

3            NaN
5            NaN
8          Greek
9            NaN
11    Vietnamese
12      American
14       Italian
15      Japanese
19        Korean
21           NaN
22       Italian
23           NaN
26      Japanese
27       Italian
28           NaN
30           NaN
32           NaN
34      American
35           NaN
40       Italian
44       Chinese
45      American
47       Italian
54       Italian
55           NaN
56           NaN
57      American
58           NaN
60      American
69      American
Name: category, dtype: object

In [86]:
# label reviews 
usa_restaurants['labels'] = ''
usa_restaurants.loc[usa_restaurants.stars >=4, 'labels'] = 'Excellent'
usa_restaurants.loc[usa_restaurants.stars ==3, 'labels'] = 'Great'
usa_restaurants.loc[usa_restaurants.stars <3, 'labels'] = 'Ok'

usa_restaurants.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,hours,category,labels
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",NaN,Excellent
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",NaN,Ok
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,"Pubs, Restaurants, Italian, Bars, American (Tr...",None,Greek,Great
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...",NaN,Ok
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,"Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",Vietnamese,Excellent

In [87]:
#reset index 
usa_restaurants = usa_restaurants.reset_index(drop=True)
usa_restaurants.tail()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,hours,category,labels
49852,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702,43.616590,-116.202383,4.5,998,"Bars, Gastropubs, Sandwiches, Nightlife, Resta...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",NaN,Excellent
49853,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,"Restaurants, Sandwiches, Convenience Stores, C...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",NaN,Great
49854,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,"Cafes, Juice Bars & Smoothies, Coffee & Tea, R...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '...",NaN,Excellent
49855,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,"Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",Mexican,Excellent
49856,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,"Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",NaN,Excellent

In [88]:
## check total number of us restaurants
usa_restaurants.shape

(49857, 14)

In [89]:
## check whether has duplicated business id
usa_restaurants.business_id.duplicated().sum()

0

In [90]:
## check the datatype
usa_restaurants.dtypes

business_id      object
name             object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      int64
categories       object
hours            object
category         object
labels           object
dtype: object

In [92]:
## check missing values
usa_restaurants.isnull().sum()

business_id         0
name                0
address             0
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars               0
review_count        0
categories          0
hours            6884
category        20310
labels              0
dtype: int64

In [93]:
#Save DataFrame as csv file for future analysis
usa_restaurants.to_csv('yelp_dataset.csv', index=False)